<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <button type="button" [routerLink]="[ '/upload' ]" routerLinkActive="active" class="btn btn-primary float-right">Upload</button>
      </div>
    </div>
    <div *ngIf="!imageToShow || imageToShow.length == 0">
      No images in database
    </div>
    <div class="row mt-2 text-center" *ngFor="let image of imageToShow; let i = index">
      <div class="col-sm-12">
        <div class="box border row rounded">
          <div class="col-sm-12">
            <h1 class="card-header">{{imageDesc[i].title}}</h1>
          </div>
          <div class="col-sm-6 text-left" style="font-size: 24px">
            <span><b>Date : </b>{{imageDesc[i].date | date}}</span><br />
            <span><b>Location : </b><span class="badge badge-info">{{imageDesc[i].location}}</span></span><br />
            <span><b>Description : </b>{{imageDesc[i].location}}</span><br />
          </div>
          <div class="col-sm-6">
          <img class="m-1 rounded border border-info" style="max-width: 70%; max-height: 70%" [src]="image" alt="Place image title" *ngIf="!isImageLoading">
        </div>
        </div>
      </div>
    </div>
  </div>
</div>